.actiontable-update {
  color: #5eba00 !important;
}

.actiontable-delete {
  color: #cd201f !important;
}

a i {
  text-decoration: none;
  margin-left: 5px;
}

a i:hover {
  cursor: pointer;
}

.actiontable-loading-error {
  color: #ff0000;
  font-style: italic;
}
.actiontable-no-data {
  color: #8a8a8a;
}
.actiontable-col {
  padding-left: 0.75rem;
  padding-bottom: 0rem;
}
.actiontable-col-hidden {
  display: none;
}
.actiontable-col-sortable {
  cursor: pointer;
}
.actiontable-col-sortable .fa {
  margin-left: 20px;
}
