#EMPTYROW {
  background-color: #f0f0f0;
}
#ERRORROW {
  color: #ff0000;
}

.icon {
  color: #9aa0ac !important;
}

.icon i {
  vertical-align: -1px;
  margin-left: 5px;
}

a.icon {
  text-decoration: none;
  cursor: pointer;
}

a.icon:hover {
  color: #495057 !important;
}
