.dropdown-item.active,
.dropdown-item:active {
  color: #6e7687;
  text-decoration: none;
  background-color: #fff;
}
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #467fcf;
  cursor: pointer;
}
